.cardId {
  position: absolute;
  color: white;
  top: 20px;
  left: 20px;
  bottom: 0;
  right: 0;
  z-index: 2;
  pointer-events: none;
}

.claimed {
  color: red;
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: black;
  height: 60px;
  width: 80px;
  z-index: 4;
}

.prize {
  color: gold;
  margin-top: 20px;
  text-align: center;
}

.prizeImgContainer {
  width: 350px; /* or the width you desire */
  height: 350px; /* or the height you desire */
  position: relative;
  /* padding-top: 56.25%;  */
  /* overflow: hidden; */
}


.prizeImg {
  --image-src: url("../../../public/loser.png");
  background-image: var(--image-src);
  height: 100%;
  width: 100%;
  display: flex;
  background-size:contain;
  border-radius: 20px;
}

.loser {
  --image-src: url("../../../public/loser.png");
}

.hugeprize {
  --image-src: url("../../../public/hugeprize.png");
}

.smallprize {
  --image-src: url("../../../public/smallprize2.png");
}
.freecard {
  --image-src: url("../../../public/freecard.png");

}
