.outerContainer {
  position: relative;
  max-width: 300px;

}

.sc__inner {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sc__wrapper {
  display: block;
  width: 100%;
  height: 300px;
  max-width: 300px;
  margin: 0 auto;
  border: 5px solid white;
}

.sc__container {
  position: relative;
  overflow: hidden;
  height: 300px;
  max-width: 300px;
}

.sc__img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.sc__container canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.sc__infos {
  color: white;
  text-align: center;
  height: 40px;
  line-height: 40px;
  margin-top: 5px;
  font-weight: bold;
  font-size: 18px;
}

.signAndScratch {
  border-radius: 50%;
  text-align: center;
  margin-top: 15%;
  z-index: 2;
}

.signAndScratchBtn {
  flex: 1;
  background-color: tomato;

  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  text-decoration-color: white;
}

.cardId {
  position: absolute;
  color: white;
  top: 20px;
  left: 20px;
  bottom: 0;
  right: 0;
  z-index: 2;
  pointer-events: none;
}

.claimed {
  color:red;
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: black;
  height: 60px;
  width: 80px; 
  z-index: 4; 
}

.prize {
  color:gold;
  margin-top: 20px;
  text-align: center;
}
